Napkin.*
!Napkin.tex
DRAFT-*.tex


.log
.dropbox

**/*.out

**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.pre
**/*.run.xml
**/*.synctex.gz
**/*.toc

**/*.maf
**/*.mtc
**/*.mtc0
**/*.ptc*

drafts/**/*.bib
keepsakes/*
!media/**
tkz-graph.sty
html/*
/result

flowchart-only.pdf
flowchart.png

**/.DS_Store
