Napkin.*
!Napkin.tex

media/*
asy/*

.log
.dropbox

**/*.asy
!extras.asy
**/*.out
**/*.pdf

**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.pre
**/*.run.xml
**/*.toc

**/*.maf
**/*.mtc
**/*.mtc0
**/*.ptc*

drafts/**/*.bib
