Napkin.*
!Napkin.tex
DRAFT-*.tex


.log
.dropbox

**/*.asy
!extras.asy
!olympiad.asy
!cse5.asy
**/*.out
**/*.pdf

**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.pre
**/*.run.xml
**/*.toc

**/*.maf
**/*.mtc
**/*.mtc0
**/*.ptc*

drafts/**/*.bib
keepsakes/*
!media/**
asy/*
