name: Napkin CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    name: "Spellcheck"
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up Python
        uses: actions/setup-python@v4
      - name: Install dependencies
        run: |
          python -m pip install --upgrade codespell
      - name: Run spellcheck
        run: |
          codespell $(git ls-files '*.tex')

  build:
    runs-on: ubuntu-latest
    name: "Build"
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Install TeX Live
        run: |
          sudo apt update
          sudo apt install -y biber texlive-base texlive-latex-recommended texlive-latex-extra texlive-science
      - name: Install more packages
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: |
            latexmk asymptote
      - name: Compile document
        run: latexmk -pdflatex -interaction=nonstopmode -file-line-error Napkin.tex
      - name: Create dist folder
        run: |
          mkdir -p dist
          mkdir -p dist/asy
          cp Napkin.log dist/
          cp Napkin.pdf dist/
          cp asy/*.asy dist/asy/
          cp asy/*.pdf dist/asy/
          cd dist
          tree -H '.' -I "index.html" -D --charset utf-8 --filesfirst -T "An Infinitely Large Napkin" >index.html
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          path: Napkin.pdf
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: dist/
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
